.texte {
    padding: 70px 0;
    
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}


 h2 {
    color: pink;
    font-size: 75px;
    line-height: 2;
    
}

 p{
    
    font-size: 20px;
    line-height: 2;
    margin-bottom: 1rem;
}
strong{
    color: pink;

    font-weight: bold;
}