.form-register {
   
        color: #fff;
        margin-left: 20px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 50%;
        
        background-color: #c1958e6e;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: -70px;
        margin-left: 400px;
        max-height: 550px; /* Hauteur maximale du conteneur du formulaire */
        overflow-y: auto; /* Ajoute une barre de défilement verticale si le contenu dépasse la hauteur maximale */
    }
    ::-webkit-scrollbar {
        width: 12px; /* Largeur de la barre de défilement */
    }
    
.group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 16px;
    color: pink;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
cancel-button{

}
