header {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    top: 0;
    background-color: #dba0b2;
    position: fixed;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

nav .logo {
    width: 170px;

}

nav ul {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: pink;
    font-size: 1.2rem;
    transition: color .3s;
}

nav ul li a:hover {
    color: #ca58a1;
}


button:hover{
    color: #ca58a1;
    border: #dba0b2;
}

button:active{
    color: #ca58a1;
    border-color: #dba0b2;
    
} 
.boutonHeader {
    display: inline-block;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: Arial;
    font-weight: ;
    color: #fff;
    padding: 10px 20px;
    margin-left: auto;
    background-color: #dba0b2;

}
.boutonAccueil li:not(:last-child)::after {
    content: '|';
    margin: 0 10px; /* Ajustez la marge entre le séparateur et le texte si nécessaire */
    color:#fff
  }

.boutonAccueil {
    padding-left: 550px;
}