.form_connexion {
    color: #fff;
    margin-left: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 500px;
    
    background-color: #c1958e6e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-left: 530px;
    
}

.groupLogin {
    margin-bottom: 15px;

}
.groupLogin label{
    color:#fff;
}
.groupLoginb{
    gap: 20px;
}
.ins{
    margin-left: 20px;
}